.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 8px;
}
.title {
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.title:hover {
  background-color: rgb(217, 217, 217);
  border-radius: 4px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon:hover {
  background-color: rgb(217, 217, 217);
}
