.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 4px 16px;
}
.search {
  border: 1px solid rgb(179, 177, 177);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
  height: 30px;
}
.input {
  flex: 1;
  margin-left: 12px;
  border: 0;
  height: 24px;
}
.icon {
  width: 32px;
}
.line {
  border-bottom: 1px solid rgb(179, 177, 177);
}
