.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.today {
  color: red;
}

.selected {
  background-color: red;
  color: white;
  border-radius: 50%;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
