.menu{
    min-width: 150px;
    padding-top: 32px;
    flex:1;
    border-right:1px solid rgb(179, 177, 177);
    margin-right: 20px;
}

.item{
    margin-top:12px;
    cursor: pointer;
}

.selected{
    color:blue;
}
