body {
  font-family: arial, 'Microsoft JhengHei', '微軟正黑體', sans-serif !important;
}
button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.selected {
  background-color: #db3d44;
  color: white;
  border-radius: 50%;
}

.disabled {
  color: #eeeeee;
  cursor: not-allowed;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .hidden {
    display: none;
  }
}


.overflow {
  max-height: calc(100vh - 192px);
  min-height: calc(100vh - 192px);
  overflow-x: scroll;
}

.hidden {
  margin-left: 12px;
}
